body{
    font-family: 'Montserrat', sans-serif;
    background: #bbbbbb;
}

header {
    background: #bbbbbb;
    padding: 20px;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding:10px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding:30px;
}

.principal p{
    margin: 0 0 1em;
}

h2 {
    font-size:20px;
    text-align: center;
}

p{
    text-align: center;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding:3em 0;
}

.mapa p {
     margin: 0 0 2em;
     text-align:center;
}

.beneficios{
    padding: 3em 0;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align:top; 
    margin-right: 10%;
    
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios{
    width: 50%;
    
    vertical-align:top; 
}





.video{
    width: 560px;
    margin: 2em auto;
}

footer{
    text-align:center;
    background: url("img/bg.jpg");
    padding:40px 0;
}

.copyright {
    color: #fff;
    font-size:13px;
    margin-top:20px;
}